<head>
	<link rel="stylesheet" type="text/css" 
	href="../node_modules/bootstrap/dist/css/bootstrap.min.css" />
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" 
	href="../css/myStyle.css" />
</head>


<div class="container spacer" >
	<div class="panel panel-default" ng-if="mode==0">
	
		<div class="panel-heading">Saisie d'un produit</div>
		<div class="panel-body">
			<form >
				<div class="form-group">
					<label class="control-label">Désignation :</label>
					<input class="form-control" type="text " ng-model="produit.designation">
				</div>
				<div class="form-group">
					<label class="control-label">prix :</label>
					<input class="form-control" type="number" ng-model="produit.prix">
				</div>
				<div class="form-group">
					<label class="control-label">Quantité :</label>
					<input class="form-control" type="number" ng-model="produit.quantite">
				</div>
			<div>
				<button ng-click="saveProduit()" class="btn btn-primary">Save</button>
			</div>
			</form>
		
		</div>
	
	</div>
	
	<div class="panel panel-default" ng-if="mode==1">
	
		<div class="panel-heading">Confirmation <a href="#" ng-click="modeForm()">New :</a></div>
		<div class="panel-body">
			<div class="form-group">
				<label>Id:</label>	<label>{{produit.id}}</label>
			</div>
			<div class="form-group">
				<label>Désigniation:</label>	<label>{{produit.designation}}</label>
			</div>
			<div class="form-group">
				<label>prix:</label>	<label>{{produit.prix}}</label>
			</div>
			<div class="form-group">
				<label>quantité:</label>	<label>{{produit.quantite}}</label>
			</div>
		</div>
	
	</div>
	
	
	

</div>